<div class="container">
      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Login via facebook <i class="fa fa-facebook-square"></i></h1>
        <p>{{message}}</p>              
        <form class="form-horizontal" method="post" action="http://localhost:3100/rest/add/article">                   
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a class="btn btn-lg btn-primary" href="/facebook"><i class="fa fa-facebook-square fa-2x pull-left"></i> Click Here  </a>
            </div>
          </div>
        </form>
      </div>      
 </div> <!-- /container -->