<section class="content-section">
  <div class="container" style="margin-top:60px">
    <!-- Main component for a primary marketing message or call to action -->
    <div class="row">
    	<div class="col-sm-10">
    		<div class="alert alert-danger" role="alert"><i class="fa fa-fire"/> Fire notice repoted at <i class="fa fa-spinner fa-spin" ng-hide="article"/> <strong>{{article.location}}</strong></div>
    	</div>
    </div>
    <div class="row">
    	<div class="col-sm-10">
    		<div id="map-canvas" style="width:940px"></div>
            <h2>Description</h2>
            <p>{{article.description}}</p>
    	</div>
    </div>

    <div class="row"><br/>
    	<div class="col-sm-10">
    		<div class="alert alert-info" role="alert"><a href="http://www.facebook.com/{{article.fbid}}" target="_blank"> <img src="http://graph.facebook.com/{{article.fbid}}/picture?type=small" class="profile-pic"/> <i class="fa fa-facebook-square"/> {{article.name}} </a> 
            </div>
    		
    	</div>
    </div>

    <div class="row">
        <div class="col-sm-10">
            <input type="button" class="btn btn-success btn-lg" value="Confirm this report">
            
        </div>
    </div>

            <h3>Comment</h3>
            <div ng-include src="'www/templates/comment.html'" id="comment"></div>
        </div>
    </div>


  </div> <!-- /container -->
 </section>